secrets/users.psv
secrets/keys/
.env.global
sshpiper/

# Exclude vscode-server (~700MB),
# but re-include the custom settings file
!sshbase/skel/.vscode-server/
sshbase/skel/.vscode-server/*
!sshbase/skel/.vscode-server/data/
sshbase/skel/.vscode-server/data/*
!sshbase/skel/.vscode-server/data/Machine/
sshbase/skel/.vscode-server/data/Machine/*
!sshbase/skel/.vscode-server/data/Machine/settings.json
lab_homes/
