secrets/users.psv
secrets/keys/
secrets/ssh_host_ed25519_key
secrets/ssh_host_ed25519_key.pub
.env
sshpiper/

# Exclude vscode-server (~700MB),
# but re-include the custom settings file
!sshbase/skel/.vscode-server/
sshbase/skel/.vscode-server/*
!sshbase/skel/.vscode-server/data/
sshbase/skel/.vscode-server/data/*
!sshbase/skel/.vscode-server/data/Machine/
sshbase/skel/.vscode-server/data/Machine/*
!sshbase/skel/.vscode-server/data/Machine/settings.json
lab_homes/
.cache/
files/
gitea/
share/
forgejo/
screego/
secrets/sshpiper_keys/
