secrets/users.psv
secrets/keys/
.env.global
sshpiper/

# Exclude vscode-server (~700MB),
# but re-include the custom settings file
!student/skel/.vscode-server/
student/skel/.vscode-server/*
!student/skel/.vscode-server/data/
student/skel/.vscode-server/data/*
!student/skel/.vscode-server/data/Machine/
student/skel/.vscode-server/data/Machine/*
!student/skel/.vscode-server/data/Machine/settings.json
lab_homes/
